HELP.md
target/*
!target/site/
!target/generated-docs
### /target/classes
### /target/generated-snippets
### /target/generated/sources
### /target/generated-test-sources
### /target/javadoc-bundle-options
### /target/maven-archiver
### /target/maven-status
### /target/surefire-reports
### /target/test-classes
### /target/listenloud-0.0.1-SNAPSHOT.jar
### /target/listenloud-0.0.1-SNAPSHOT.jar.original
### /target/maven-javadoc-plugin-stale-data.txt
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
